body {
    background-color: #282828;
  }
  
  .cards-block {
    background-color: #242424;
    padding: 20px;
  }
  
  .cards-container {
    padding-top: 30px;
    padding-left: 30px;
    display: flex;
    width: 90%;
    overflow-x: scroll;
  
    .card-body {
      padding: 30px;
    }
  
    .card:first-child {
      margin-left: 0px;
    }
  
    .card {
      border-radius: 20px;
      height: 400px;
      min-width: 350px;
      background: linear-gradient(to right, #404040, #383838, #313131, #0e0e0e);
      margin-left: -7rem;
      box-shadow: rgb(0 0 0 / 50%) -40px 0px 50px;
      transition: 0.2s;
      margin-bottom: 3rem;
  
      h2 {
        color: white;
      }
  
      h3 {
        color: lightgrey;
        display: inline;
      }
  
      h3.h3-small {
        color: lightgrey;
        display: inline;
        font-weight: normal;
        font-size: 0.9rem;
      }
    }
  
    .card:hover {
      margin-right: 8.5rem;
      transform: rotateZ(8deg);
    }
  
    .tags {
      color: #ff7a18;
      display: inline;
      font-size: 0.8rem;
    }
  }
  
  /* width */
  ::-webkit-scrollbar {
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #262626;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #424242;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  